<h1 class="title">Indstil Email til at modtage alarm</h1>

<div class="form-container">
    <mat-form-field class="input-container" appearance="outline">
      <mat-label>Email</mat-label>
      <input [(ngModel)]="addedEmail" class="email" type="email" matInput placeholder="Indtast Email" autocomplete="off">
    </mat-form-field>
  </div>
<button mat-flat-button color="accent" class="save" (click)="saveEmail()">Tilføj e-mail</button>


<h1 class="added-emails">Tilføjet emails</h1>
<mat-list *ngFor="let emails of seperatedarray; let i=index">
  <mat-list-item>{{i}}: {{ emails }}</mat-list-item>
</mat-list>