.form-container {
  width: 100%;
  text-align: center;
}

.input-container {
  font-size: large;
  width: 80%;
}

.email {
  width: 100%;
  font-size: large;
}

.added-emails {
  text-align: center;
  font-weight: bold;
}

.save {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3%;
}
