.sidenav-container {
  height: 100%;
  width: 100%;
}

.sidenav {
  width: 100%;
}

.close-btn {
  margin-top: 10px;
}

.header {
  display: inline-flex;
}

.spacer {
  flex: 1 1 auto;
}

mat-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mat-drawer {
  align-items: center;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
