<!-- title -->
<h1 class="title">Indstillinger</h1>

<!-- 
  Form containter that contains the buttons that add and substract from GUInumber prop and header that shows GUINumber PROP 
  and showing add and substract icons
 -->
<form class="container">
  <mat-label class="title">Hvor hurtigt skal gui hente data</mat-label>
  <div class="btn-container">
    <button mat-button (click)="GUI(false)">
      <mat-icon>remove</mat-icon>
    </button>
    <h1 class="number">{{ GUINumber }} Sekunder</h1>
    <button mat-button (click)="GUI(true)">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</form>

<!-- 
  Form containter that contains the buttons that add and substract from MeasurementNumber prop and header that shows MeasurementNumber PROP
  and showing add and substract icons
 -->
<form class="container">
  <mat-label class="title">Måler Fart</mat-label>
  <div class="btn-container">
    <button mat-button (click)="Measurements(false)">
      <mat-icon>remove</mat-icon>
    </button>
    <h1 class="number">{{ MeasurementNumber }} Sekunder</h1>
    <button mat-button (click)="Measurements(true)">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</form>

<!-- runs save settings that save MeasurementNumber and GUINumber  setting to db -->
<button mat-flat-button color="accent" class="save" (click)="saveSettings(this.GUINumber, this.MeasurementNumber)">Gem Indstillinger</button>
