<h1 class="title">Indstil Min-Max værdier for alarm</h1>

<div class="grid-container">
    <div class="grid-item">
        <form class="container">
            <mat-label class="title">Minimum værdi for temperatur</mat-label>
            <div class="btn-container">
              <button class="btn" mat-button (click)="Temp(false)">
                <mat-icon>remove</mat-icon>
              </button>
              <h1 class="number">{{ TempMin }} Celcius</h1>
              <button class="btn" mat-button (click)="Temp(true)">
                <mat-icon>add</mat-icon>
              </button>
            </div>
        </form>
    </div>
    <div class="grid-item">
        <form class="container">
            <mat-label class="title">Maksimum værdi for temperatur</mat-label>
            <div class="btn-container">
              <button class="btn" mat-button (click)="TempMaxi(false)">
                <mat-icon>remove</mat-icon>
              </button>
              <h1 class="number">{{ TempMax }} Celcius</h1>
              <button class="btn" mat-button (click)="TempMaxi(true)">
                <mat-icon>add</mat-icon>
              </button>
            </div>
        </form>
    </div>
    <div class="grid-item">
        <form class="container">
            <mat-label class="title">Minimum værdi for luftfugtighed</mat-label>
            <div class="btn-container">
              <button class="btn" mat-button (click)="Hum(false)">
                <mat-icon>remove</mat-icon>
              </button>
              <h1 class="number">{{ HumiMin }} %</h1>
              <button class="btn" mat-button (click)="Hum(true)">
                <mat-icon>add</mat-icon>
              </button>
            </div>
        </form>
    </div>
    <div class="grid-item">
        <form class="container">
            <mat-label class="title">Maksimum værdi for luftfugtighed</mat-label>
            <div class="btn-container">
              <button class="btn" mat-button (click)="HumMaxi(false)">
                <mat-icon>remove</mat-icon>
              </button>
              <h1 class="number">{{ HumiMax }} %</h1>
              <button class="btn" mat-button (click)="HumMaxi(true)">
                <mat-icon>add</mat-icon>
              </button>
            </div>
        </form>
    </div>
    <div class="grid-item">
        <form class="container">
            <mat-label class="title">Minimum værdi for tryk</mat-label>
            <div class="btn-container">
              <button class="btn" mat-button (click)="Pres(false)">
                <mat-icon>remove</mat-icon>
              </button>
              <h1 class="number">{{ PresMin }} hPa</h1>
              <button class="btn" mat-button (click)="Pres(true)">
                <mat-icon>add</mat-icon>
              </button>
            </div>
        </form>
    </div>
    <div class="grid-item">
        <form class="container">
            <mat-label class="title">Maksimum værdi for tryk</mat-label>
            <div class="btn-container">
              <button class="btn" mat-button (click)="PresMaxi(false)">
                <mat-icon>remove</mat-icon>
              </button>
              <h1 class="number">{{ PresMax }} hPa</h1>
              <button class="btn" mat-button (click)="PresMaxi(true)">
                <mat-icon>add</mat-icon>
              </button>
            </div>
        </form>
    </div>
</div>

<button mat-flat-button color="accent" class="save" (click)="saveSettings()">Gem Indstillinger</button>
